@using Domain.EntitiesDto
@model PositionDto



<h3>Иваз намудан</h3>
<form asp-action="Delete" asp-controller="Position" asp-antiforgery="true" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div>

        <div class="form-group">
            <label asp-for="Name"><b>Ном</b></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
       


         <div class="form-group">
            <label asp-for="Enabled"><b>Фаъоли</b></label>
            <input type="text" asp-for="Enabled" class="form-control" />
            <span asp-validation-for="Enabled"></span>
        </div>
     
         
        
          
        <div class="form-group">
            <label asp-for="PositionType"><b>Навъи вазифа </b></label>
            <input type="text" asp-for="PositionType" class="form-control" />
            <span asp-validation-for="PositionType"></span>
        </div>  
         
            <label asp-for="DepartmentId"></label>
            <input type="hidden" asp-for="DepartmentId" class="form-control" />
            <span asp-validation-for="DepartmentId"></span>
 

       
       
     <div class="card-footer">
                <center>
                    <button type="submit" class="btn btn-primary">Нест намудан</button>
                    <a asp-action="Index" asp-controller="Position" class="btn btn-secondary">Бекор намудан</a>
                </center>
      </div>
    </div>
</form>


